*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.255rem;
  --fs-body: 1rem;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--ff-body);
  line-height: 1.6;
}

img {
  display: block;
  max-width: 100%;
}

/* typography */












/* * {
  font-size: 20px;
}

.background {
  background-image: url("./img/central-PA.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* object-fit: cover; 
  min-height: 50%;
  padding: 1em;
  color: white;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 0.5em;
  padding-right: 3em;
  padding-left: 3em;
  padding-bottom: 1em;
}

img {
  max-width: 100%;
}

.portfolio-img {
  height: 200px;
}

.img-container {
  display: flex;
  justify-content: center;
}

.sub-heading {
  display: flex;
  justify-content: center;
}
.project-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
} */